version: '3.9'
services:
  app:
    build: .
    container_name: umkm_app
    volumes:
      - ./:/var/www
    depends_on:
      - db
  web:
    image: nginx:1.25-alpine
    container_name: umkm_web
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
  db:
    image: mysql:8.0
    container_name: umkm_db
    environment:
      MYSQL_DATABASE: umkm_inventory
      MYSQL_USER: umkm
      MYSQL_PASSWORD: umkm_secret
      MYSQL_ROOT_PASSWORD: root_secret
    ports:
      - "33060:3306"
    volumes:
      - dbdata:/var/lib/mysql

  prometheus:
    image: prom/prometheus:latest
    container_name: umkm_prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "9091:9090"
    depends_on:
      - cadvisor

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: umkm_cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    depends_on:
      - app

  grafana:
    image: grafana/grafana:latest
    container_name: umkm_grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus

volumes:
  dbdata:
  prometheus_data:
  grafana_data: